<th><a style="float:right; padding:15px" href="/logout">Log Out</a></th>
<th><a style="float:right; padding:15px" href="/store/info">Store Info</a></th>
<th><a style="float:right; padding:15px" href="/employees/<%= Helpers.current_employee(session).id %>/profile">Profile</a></th>
<th><a style="float:right; padding:15px" href="/home">Home</a></th>

<h2><%= DateTime.now.strftime("%B %d, %Y") %></h2>

<h3>Have something to say? Post an update:</h3>
<div>
    <form method="POST" action="/updates/new">
    <textarea name="content" rows="3" cols="36"></textarea>
    <input type="submit" value="Post" style="display:block">
    <br>
</div>
</form>


<% Update.all.reverse.each do |post|%>
    <div>
        <% if post.employee%>
            <h4><%=post.employee.full_name%>:</h4>
        <% else %>
            <h4>Deleted User:</h4>
        <%end%>
        <h5 style="background-color:lightblue; display: block"><%= post.content%></h5>
        <h6 style="background-color:lightblue; display: block"><%= post.created_at.strftime("%m-%d-%Y  %l:%M %p") %></h6>
        <% if post.employee_id == session[:id]%>
            <h6>
            <a href="/updates/<%=post.id%>/edit">Edit</a>
            <a href="/updates/<%=post.id%>/delete">Delete</a>
            </h6>
        <%end%>
        <br>
    </div>
<%end%>